.input {
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 1px;
    display: inline-block;
    border-radius: 8px;
    width: 100%;
    /* overflow: visible; */
  }

/* span.input input type[date]{
  /* width: 100% ; *
  position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 1px;
    display: inline-block;
    border-radius: 8px;
    width: 200%;
} 
/* span input type[file]{
  width: 20% ;
  
} */

.input input[type=search]{
  border:5px solid #00bfd8;
}

  .input *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1;
  }
  .input *:not(span):focus + span {
    opacity: 1;
    transform: scale(1);
  }
  .input span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;
    position: absolute;
    z-index: 1;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
  }
  #linkInward {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: red;
  }

  #linkOutward{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: red;
  }
  
  #linkOutward:hover{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: rgb(17, 238, 17);
  }
  #linkInward:hover{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: rgb(17, 238, 17);
  }
  /* html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 1em;
  }
   */
  /* body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  /* html,
  body {
    height: 100%;
  } */
  
  input {
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    min-width: 12em;
  }
  
  ::-moz-placeholder {
    color: #cbd0d5;
  }
  
  :-ms-input-placeholder {
    color: #cbd0d5;
  }
  
  ::placeholder {
    color: #cbd0d5;
  }
  
  /* html::after {
    content: "";
    background: linear-gradient(21deg, #10abff, #1beabd);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  } */
  /*Colors*/
/*Font*/
/* Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  /* background: linear-gradient(90deg, rgb(255, 58, 140), #bbb3ff); */
  /* margin: 0; 
} */

ul {
  /* position: absolute;
  top:0;
  right:0; */
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Start Style*/
.main__menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 900px) {
  .main__menu {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}
.main__menu .list-item:hover .drop-menu li {
  display: block;
}
.main__menu .list-item:hover .menu-1 {
  perspective: 1000px;
}
.main__menu .list-item:hover .menu-1 .drop-item {
  opacity: 0;
}
.main__menu .list-item:hover .menu-1 .drop-item:nth-child(1) {
  animation-name: leftToRight;
  animation-duration: 400ms;
  animation-delay: -150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-1 .drop-item:nth-child(2) {
  animation-name: leftToRight;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-1 .drop-item:nth-child(3) {
  animation-name: leftToRight;
  animation-duration: 400ms;
  animation-delay: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-1 .drop-item:nth-child(4) {
  animation-name: leftToRight;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-2 {
  perspective: 1000px;
}
.main__menu .list-item:hover .menu-2 .drop-item {
  opacity: 0;
  transform-origin: top center;
}
.main__menu .list-item:hover .menu-2 .drop-item:nth-child(1) {
  animation-name: topToBottom;
  animation-duration: 400ms;
  animation-delay: -150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-2 .drop-item:nth-child(2) {
  animation-name: topToBottom;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-2 .drop-item:nth-child(3) {
  animation-name: topToBottom;
  animation-duration: 400ms;
  animation-delay: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-2 .drop-item:nth-child(4) {
  animation-name: topToBottom;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-3 {
  perspective: 1000px;
}
.main__menu .list-item:hover .menu-3 .drop-item {
  opacity: 0;
}
.main__menu .list-item:hover .menu-3 .drop-item:nth-child(1) {
  animation-name: itemBounce;
  animation-duration: 400ms;
  animation-delay: -150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-3 .drop-item:nth-child(2) {
  animation-name: itemBounce;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-3 .drop-item:nth-child(3) {
  animation-name: itemBounce;
  animation-duration: 400ms;
  animation-delay: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-3 .drop-item:nth-child(4) {
  animation-name: itemBounce;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-4 {
  perspective: 1000px;
}
.main__menu .list-item:hover .menu-4 .drop-item {
  opacity: 0;
  transform-origin: top right;
}
.main__menu .list-item:hover .menu-4 .drop-item:nth-child(1) {
  animation-name: bottomToTop;
  animation-duration: 400ms;
  animation-delay: -150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-4 .drop-item:nth-child(2) {
  animation-name: bottomToTop;
  animation-duration: 400ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-4 .drop-item:nth-child(3) {
  animation-name: bottomToTop;
  animation-duration: 400ms;
  animation-delay: 150ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .menu-4 .drop-item:nth-child(4) {
  animation-name: bottomToTop;
  animation-duration: 400ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main__menu .list-item:hover .home {
  border-top: 6px solid #33658a;
}
.main__menu .list-item:hover .about {
  border-top: 6px solid #9966cc;
}
.main__menu .list-item:hover .widget {
  border-top: 3px solid #ff3333;
}
.main__menu .list-item:hover .kabobs {
  border-top: 6px solid #ffcc33;
}
.main__menu .list-item:hover .contact {
  border-top: 6px solid #55dde0;
}
.main__menu .list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 200px;
  color: #fff;
  cursor: unset;
}
/* .main__menu .list-item a:hover {
  cursor: pointer;
} */
.main__menu .list-item a span {
  font: 600 25px "Roboto", sans-serif;
  order: 2;
}
.main__menu .list-item a img {
  width: 100px;
}
.main__menu .list-item a.home {
  background: #ff3333;
}
.main__menu .list-item a.about {
  background: #ffcc33;
}
.main__menu .list-item a.widget {
  background: #00bfd8;
}
.main__menu .list-item a.kabobs {
  background: #9966cc;
}
.main__menu .list-item a.contact {
  background: #33658a;
}
.main__menu .list-item a i {
  color: #fff;
  font-size: 25px;
}


.main__menu .list-item .drop-menu .drop-item {
  display: none;
}
.main__menu .list-item .drop-menu .drop-item a {
  height: 80px;
  font: 300 22px "Roboto", sans-serif;
}
.main__menu .list-item .drop-menu .drop-item a.item--1 {
  background: #ffcc33;
}
.main__menu .list-item .drop-menu .drop-item a.item--2 {
  background: #33658a;
}
.main__menu .list-item .drop-menu .drop-item a.item--3 {
  background: #ff3333;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}
@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes itemBounce {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(-60px);
  }
  80% {
    transform: scale(1.2) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}
@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}