/* body {
  overflow-y: scroll;
}

.modal-lg {
  max-width: 1024px !important;
} */
.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}